.dialog-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .name-dialogue {
    width: 400px;
    height: 200px;
    padding: 1.5rem;
    background-color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 8px;

    h3 {
      color: black;
    }

    input {
      border: 1px solid var(--border-color);
      outline: none;

      padding: 0.5rem;
      margin-top: 1rem;
      border-radius: 8px;
      background-color: transparent;
      display: block;
    }

    button {
      background-color: black;
      color: var(--text-primary);
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      // border: 2px solid var(--border-color);
      cursor: pointer;
      transition: all 0.2s ease;
      border: none;
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      .icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text-primary);
        color: black;
        border-radius: 50%;
        padding: 2px;
      }

      &:hover {
        box-shadow: 0 0 10px black;
        border: none;

        gap: 2rem;
      }
    }
  }

  #dialogue-close{
    
    color: rgb(134, 133, 133);
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover{
      color: rgb(174, 73, 73);
        text-decoration: none;
    }
  }
}

.queue-section{
    display: flex;
    justify-content: center;
    align-items: center;
    .queue-box{
        width: 400px;
        height: 200px;
        padding: 1.5rem;
        // border: 1px solid var(--border-color);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        
        .queue-divider{
            width: 1px;
            height: 100%;
            background-color: var(--border-color);
        }
        
        .left-queue,.right-queue{
            background-color: var(--surface-color);
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-radius: 50%;

            h3{
                color: var(--text-primary);
            }
        }


        .left-queue{
            h3{
                text-transform: uppercase;
            }
        }
        .right-queue{
            // background-color: steelblue;
            overflow: hidden;
            
            .chars{
                position: relative;
                // display: flex;
                // flex-direction: column;

                h1{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    
                }
            }
        }
    }
}
